<p id="notice"><%= notice %></p>

<p>
  <strong>Nomer:</strong>
  <%= @danni.nomer %>
</p>

<p>
  <strong>Text:</strong>
  <%= @danni.text %>
</p>

<%= link_to 'Edit', edit_danni_path(@danni) %> |
<%= link_to 'Back', dannis_path %>
